**/.ipynb_checkpoints
**/__pycache__
ai-journey/deep.ai/C1M2/.ipynb_checkpoints
ai-journey/deep.ai/C1M2/__pycache__
ai-journey/deep.ai/C1M3/.ipynb_checkpoints
ai-journey/deep.ai/C1M3/__pycache__
ai-journey/deep.ai/C1M4/.ipynb_checkpoints
ai-journey/deep.ai/C1M4/__pycache__
deep.ai/C2M1/Regularization/.ipynb_checkpoints
deep.ai/C2M1/Gradient\ Checking/.ipynb_checkpoints
deep.ai/C2M1/Initialization/.ipynb_checkpoints
deep.ai/C2M1/Initialization/.ipynb_checkpoints
deep.ai/C2M1/Regularization/__pycache__
deep.ai/C2M1/Initialization/__pycache__
deep.ai/C2M1/Gradient\ Checking/__pycache__
deep.ai/C2M3/__pycache__/
deep.ai/C2M2/__pycache__/
deep.ai/C2M3/.ipynb_checkpoints/
deep.ai/C2M2/.ipynb_checkpoints/
ai-journey/cognitive-da/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise1/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise2/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise3/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise4/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise5/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise6/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise7/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise8/.ipynb_checkpoints
ai-journey/coursera-ml/Exercise1/__pycache__
ai-journey/coursera-ml/Exercise2/__pycache__
ai-journey/coursera-ml/Exercise3/__pycache__
ai-journey/coursera-ml/Exercise4/__pycache__
ai-journey/coursera-ml/Exercise5/__pycache__
ai-journey/coursera-ml/Exercise6/__pycache__
ai-journey/coursera-ml/Exercise7/__pycache__
ai-journey/coursera-ml/Exercise8/__pycache__
machine-learning-coursera-master/*

**/*.pdf
nlp/slp3-book/*.pdf
